$color_primary:#041737;
$color_secondary:#3963AD;
$color_secondary-2:#379CB4;
$color_tertiary: #5C4FA1;
$color_success: #3BC069;
$color_danger: #c03f3b;
$color_warning: #E97E51;
$color_black:#000000;
$color_white: #fff;
$color_grey:#3d3c3c;
$color_border: #CBCBCB;
$color_sb_text_sub: #7387a1;
$color_sb_text_main: #2D4A75;
// .theme-white .navbar .form-inline .form-control{background-color:#f0f3ff}