@import './scss/mixins.scss';
@import './scss/root.scss';
@import './scss/colors.scss';
@import './scss/base.scss';
@import './scss/grid.scss';

//-- Main Content
.ci-main{
    margin-left: 270px;
    padding: 30px;
    background-color: $color-bg;
    min-height: 100vh;
    @include respond(phone){
        margin-left: 0px;
        padding: 15px;
    }
    // For left sec
    display: flex;
}

//-- Sidebar
.ci-left-sidebar-sec-show{
    display: block !important;
}
.ci-left-sidebar-sec{
    position: fixed;
    left: 0px;
    background: $color-primary;
    width: 270px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    // Design scroll bar
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-border;
        border-radius: 7px;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-primary;
    }
    
    // Responsive at mobile view
    @include respond(phone){
        display: none;
    }

    .ci-logo{
        margin-top: 15px;
        font-weight: 700;
        font-size: 25px;
        font-style: italic;
        cursor: pointer;
        color: #E97E51;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .ci-dashboard-menu{
        background-color: $color-secondary;
        padding: 10px 20px;
        font-size: 14px;
        margin: 15px 0;
        color: $color-white;
        border-radius: 8px;
        width: 100%;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        span{
            padding: 5px;
            font-size: 22px;
        }
    }
    .ci-menu-sec{
        padding-bottom: 25px;
        width: 100%;
        
        &:not(:last-child){
            border-bottom: 1px solid $color-sb-text-main;
            margin-bottom: 15px;
        }

        .ci-main-menu{
            p{
                font-weight: 700;
                font-size: 14px;
                cursor: pointer;
                color: $color-sb-text-main;
                padding: 2px 5px;
            }
            .ci-sub-menu{
                display: flex;
                align-items: center;
                padding: 7px 5px;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
                color: $color-sb-text-sub;
                .material-symbols-outlined{
                    font-size: 19px;
                    margin-right: 10px;
                }
            }
        }
    }
}

//-- Card
.ci-card{
    background-color: $color-white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

//-- Header Summary 
.ci-summary{
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    .ci-summary-card{
        width: 23.2%;
        .ci-card-head{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin: 0px 35px 15px 35px;
            width: 100%;
            h3{
                font-size: 18px;
                font-weight: 700;
                color: $color-sb-text-main;
            }
            span{
                font-size: 15px;
                font-weight: 600;
            }
            .material-symbols-outlined{
                font-size: 22px;
                color: $color_secondary-2;
                background-color: $color_secondary-3;
                padding: 8px;
                border-radius: 99px;
            }
            .ci-card-icon{
                font-size: 25px;
                color: $color-sb-text-sub;
            }
        }
        .ci-card-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            .ci-head-sum-sub-text{
                font-size: 14px;
                font-weight: 500;
                color: $color-grey;
            }
            .ci-head-sum-sub-text-2{
                color: $color-success;
                font-weight: 600;
            }
            .trending-up{
                color: $color-success;
            }
        }
    }
}
.ci-card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 0px 35px 15px 35px;
    width: 100%;
    h3{
        font-size: 18px;
        font-weight: 700;
        color: $color-sb-text-main;
    }
    span{
        font-size: 15px;
        font-weight: 600;
    }
    .material-symbols-outlined{
        font-size: 22px;
        color: $color_secondary-2;
        background-color: $color_secondary-3;
        padding: 8px;
        border-radius: 99px;
    }
    .ci-card-icon{
        font-size: 25px;
        color: $color-sb-text-sub;
    }
}
.ci-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    .ci-head-sum-sub-text{
        font-size: 14px;
        font-weight: 500;
        color: $color-grey;
    }
    .ci-head-sum-sub-text-2{
        color: $color-success;
        font-weight: 600;
    }
    .trending-up{
        color: $color-success;
    }
}
// -- Status tag 
.ci-status{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $color-white;
    &.success{
        color: $color-success;
        background-color: adjust-color($color-success, $lightness: 40%);
    }
    &.warning{
        color: $color-warning;
        background-color: adjust-color($color-warning, $lightness: 30%);
    }
    &.danger{
        color: $color-danger;
        background-color: adjust-color($color-danger, $lightness: 40%);
    }
    &.info{
        color: $color-info;
        background-color: adjust-color($color-info, $lightness: 40%);
    }
}

// -- Right Side Bar 

.ci-right-sidebar{
    height: 100%;
}

.ci-main-left-sec{
    width: 83%;
}
.ci-main-right-sec{
    width: 17%;
    height: 100%;
    margin: 15px 0;
}

// @ 1412px
@media screen and (max-width: 1412px) {
    .ci-main-left-sec{
        width: 100% !important;
    } 
    .ci-main-right-sec{
        width: 100% !important; 
    }
    .ci-main{
        display: block;
    }
    .ci-right-card{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .mt-16{
        margin-top: 0 !important;
    }
    .ci-right-card{
        margin: 30px 15px 0 15px !important;
    }
}